body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    background-color: #f3f3f3;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.month {
    grid-column: span 7;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.day, .date {
    padding: 15px;
}

.day {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
}

.date {
    background-color: #fff;
    height: 60px;
    min-width: 120px;
    text-align: left; /* 날짜를 좌측 정렬합니다. */
    vertical-align: top; /* 날짜를 상단에 위치시킵니다. */
}
